.splash {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
    z-index: 100;
    text-align: center;
}

.splash_message {
}

.splash_container {
    position: relative;
    top: 50%;
    width: 90%;
    transform: translateY(-50%);
    margin: 0 auto
}